<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Help</h2>
        <p>How to use voice controls in ToDoodle</p>
        
        <h3>Voice commands for all pages</h3>
        
        <p>Load + "home": Loads main page. <em>eg. User says "load home"</em></p>
        <p>Load + "help": Loads help page. <em>eg. User says "load help"</em></p>
        
    </div>
    
    
</div>

<div class="row">
    <div class="col-md-9 col-md-offset-2">
        <h3>Tasks List Page Voice Commands</h3>
        <p>Add + 'task name': Inserts new tasks into todo list.  <em>eg. User says "add do laundry"</em></p>
        <p>Remove + 'task name': Deletes tasks from todo list. <em>eg. User says "remove do laundry"</em></p>
        <p>Finish + 'task name': Marks task in todo list as done. <em>eg. User says "finish do laundry"</em></p>
        <p>Begin + 'task name': Unmarks task in todo list as not done. <em>eg. User says "begin do laundry"</em></p>
        <p>Show + 'task name': Opens the task details page. <em>eg. User says "show do laundry"</em></p>
    </div>
    
    <div class="col-md-4">
        
    </div>
    
</div>

<div class="row">
    <div class="col-md-9 col-md-offset-2">
        <h3>Tasks Details Page Voice Commands</h3>
        <p>Item + 'new task name': Edits/adds a task item. <em>eg. User says "item wash dog"</em></p>
        <p>Note + 'new task name': Edits/adds a task note. <em>eg. User says "note use warm water"</em></p>
    </div>
</div>
<br>
