<ul class="list">
        <li>
          <input type="checkbox">
          <i class="glyphicon glyphicon-star"></i>
          <span>Brie</span>
          <i class="glyphicon glyphicon-remove"></i>
        </li>
        
   </ul>   

      <form class="form">
        <div class="form-container">
          <input id="todo" type="text" class="form-input" placeholder="Add item">
        </div>
        <button type="submit" class="btn">+</button>
      </form>