
<div class="footer">
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
        
                <ul>
                   <li><%= link_to 'Home', root_path %></li>
                    <li><%= link_to 'Help', help_index_path %></li>
                    <li class="right">Created by: <%= link_to 'Michael Collie-Acasio of Appfaucet.com', "http://appfaucet.com"%>&copy;2015</li>
                </ul>
                
                
          
        </div>
        
    </div>
</div><!-- style="float:right; clear:both; margin-top:0px;"-->